body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Dark Blue Nav */
nav {
    background-color: #1f2937;

    padding-left: 200px;
    padding-right: 200px;

    display: flex;
    justify-content: space-between;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    color: #e5e7eb;
    font-size: 18px;

    padding-left: 8px;
    padding-right: 8px;
}

/* Dark Blue Main */
.hero {
    background-color: #1f2937;

    display: flex;
}

.hero-text {
    /* padding: 75px; */
    padding-left: 200px;
}

.hero-text > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text > p {
    color: #e5e7eb;
    font-size: 18px;
    
    margin-top: -40px;
}

.hero-text > button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 15px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    padding: 8px 35px;
}

.hero-image {
    padding: 75px;
    padding-right: 200px;
}

/* White */
h2 {
    padding: 20px;
    margin: 25px;
    margin-top: 50px;

    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;

    display: flex;
    justify-content: center;
}

.rando-box {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.rando-box-info {
    width: 160px;
    height: auto;
    margin: 25px;

    text-align: center;
    font-size: 18px;
    color: #74777d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rando-box-info > img {
    width: 160px;
    height: 160px;
    
    border: 4px solid #3882f6;
    border-radius: 10px;

    margin-bottom: -10px;
}

/* Grey */
.quote-box {
    background-color: #e5e6eb;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;

    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.quote-name {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;

    margin-top: -10px;
    margin-right: 300px;
    margin-bottom: 100px;

    display: flex;
    margin-left: auto;
}

/* White Part 2 */

.button-box {
    padding: 100px;

    display: flex;
    justify-content: center;
}

.button-box-border {
    background-color: #3882f6;
    border-radius: 10px;

    padding: 25px;
    padding-left: 150px;
    padding-right: 150px;

    display: flex;
    justify-content: center;
}

.button-box-text {
    color: #f9faf8;

    margin: 10px;
    margin-right: 250px;
}

.button-box-text > .button-head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
}

.button-box-text > .button-caption {
    font-weight: lighter;
}

.button-box-button {
    margin: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box-button > button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 15px;
    border: 1px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 35px;
}

/* Footer */

footer {
    background-color: #1f2937;
    color: #F9FAF8;

    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    
    display: flex;
    justify-content: center;
}